.sidebar {
  width: 320px;
  height: 100vh;
  background-color: var(--color-bg);
  border-right: 1px solid var(--color-divider);
  display: flex;
  flex-direction: column;
}

.searchWrapper {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-divider);
  background-color: var(--color-bg);
}

.totalConversations {
  display: flex;
  justify-content: left;
  padding: 1rem 1rem 0.2rem 1rem;
  font-weight: 600;
}
