:root {
  --color-primary: #0066ff;
  --color-text: #1e254f;
  --color-divider: #cbd5e0;
  --color-placeholder: #3d466e;
  --color-bg: #ffffff;
  --color-active: #e5f1ff;
  --color-muted: #718096;
  --color-incoming: #f2f6f9;
  --color-background: #f2f6f9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-background);
  width: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
